td.image{
	width: 100%; height: 200px;
	background-image:url("../images/background.jpg");
}
ul.menu{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:black;
	opacity:0.9;
}
ul.menu2{
	list-style-type:none;
	margin:0;
	padding:.0em 0 .1em .0em;
	height: 42px;
	width:800px;
	overflow:hidden;
	background-color:black;
	opacity:0.9;
}
/*css code for search box - start*/
#search-text-input{
    border-top:thin solid  #444040;
    border-right:thin solid #444040;
    border-bottom:0;
    border-left:thin solid  #444040;
    box-shadow:0px 1px 1px 1px #444040;
    float:right;
    height:28px;
    margin:.8em 0 0 .5em; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:250px; 
}
  
#button-holder{
    background-color:#f1f1f1;
    border-top:thin solid #e5e5e5;
    box-shadow:1px 1px 1px 1px #e5e5e5;
    cursor:pointer;
    float:right;
    height:27px;
    margin:11px 0 0 0;
    text-align:center;
    width:50px;
}
  
#button-holder img{
    margin:4px;
    width:20px; 
}
/*css code for search box - end*/

li.menu{
	display:block;
	float:left;
	
}
a li:hover{
	display:block;
	color:white;
	text-align:center;
	padding:20px 20px;
	text-decoration:none;
	background-color:grey;
}
.menu input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
}
ul.navigation{
	height:250px;
	width:170px;
	margin:0;
	padding:0;
	background-color:black;
	opacity:0.9;
}


/*payment and social - start*/
p.solid {border-style: solid;}

li.navigation{
	display:block;
	float:bottom;
	text-align:left;
}
li{	
	color:white;
	text-align:center;
	padding:15px;
	text-decoration:none;
}
/*payment and social - end*/

/*css for packages - start*/
* {
	box-sizing: border-box;
  }
  
/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 100%;
	padding: 5px;
	text-align: left;
}
.column1 {
	float: left;
	width: 50%;
	height: auto;
	padding: 50px;
	text-align: center;
}
  
/* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
}


/***********************/
/*filling application*/ 
* {
	box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid rgb(206, 132, 132);
	border-radius: 4px;
	resize: vertical;
  }
  
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }

  input[type=submit] {
	background-color: #0a9905;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  .container {
	border-radius: 5px;
	background-color: #96c4cc;
	padding: 20px;
  }

  .container2 {
	border-radius: 3px;
	background-color: transparent;
	padding: 0 0 0 0;
  }

  .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }